/*  Header Top  */

.header-container {
    height: 20vh;
    display: flex;
    flex-direction: column;
}

.header-top {
    background-color: #111;
    flex: 1;
   
}

.header-menu {
    background-color: var(--primary-color);
    flex: 1;
 
}

.main-header {
    max-width: 1230px;
    margin: 0 auto;
    height: 100%;
    display: flex;
}

.main-header-top {
    padding: 0 1.5rem;
    align-items: center;
    color: white;
}
.main-header-top .countdown {
    flex: 1;
    display: flex;
    align-items: center;
    border-right: 1px solid #eeeeeecc;
}
.main-header-top .countdown .icon-truck {
    flex: 1;
    font-size: 1.7rem;
}
.main-header-top .countdown .title {
    flex: 3;
    font-size: 1rem;
    text-align: left;
}
.main-header-top .countdown .counter {
    flex: 3;
    font-size: 1.7rem;
    font-weight: bold;
}

.main-header-top .anuncio {
    flex: 1;
    text-align: center;
}
.main-header-top .action-temu-app {
    flex: 1;  
    text-align: center;  
}

/*  Header Menu  */

.main-header-menu {
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
}
.main-header-menu .logo {
    flex: 0.5;
}
.main-header-menu .logo img {
    width: 54%;
    height: 54%;
}

.main-header-menu .navbar {
    flex: 3;
}
.main-header-menu .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: .6rem;
}
.main-header .navbar li {
    padding: 2px;
}
.main-header-menu .navbar ul li a {
    font-size: .8rem;
    color: white;
    text-combine-upright: none;
    text-decoration: none;
}
.main-header-menu .navbar ul li .nav-icon {
    font-size: .9rem;
}

.search-bar {
    flex: 2;
    margin: 0 .7rem;
    position: relative;
}
.search-bar .input_search {
    border: none;
    outline: none;
    background-color: lightgoldenrodyellow;
    padding: .8rem;
    width: 100%;
    font-size: 1.1rem;
    border-radius: 20px;
    position: relative;
}
.search-bar .search-icon {
    position: absolute;
    top: 2px;
    right: 5px;
    background-color: #111;
    color: white;
    width: 30px;
    height: 35px;
    border-radius: 50%;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.main-header-menu .icons-menu {
    flex: 2;
    display: flex;
    align-items: center;
    gap: .3rem;
}
.icons-menu .sign-register-content {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.icons-menu .sign-register-content .sign-order span {
    font-size: .6rem;
}
.icons-menu .sign-register-content .sign-order h3 {
    font-size: .8rem;
}

.icons-menu .support-content {
    margin-left: .5rem;
    display: flex;
    gap: .7rem;
}
.icons-menu .support-content span,
.icons-menu .support-content .fa-comment {
    font-size: .8rem;
}

.icons-menu .lang-content {
    margin-left: .5rem;
}
.icons-menu .lang-content span,
.icons-menu .lang-content .fa-circle {
    font-size: .8rem;
}

.icons-menu .cart-icon {
    margin-left: .8rem;
} 


/*  Banner Hero Clickable  */

.banner-hero {
    height: 40vh;
    background-color: rgb(214, 178, 200);
    
}
.banner-hero .banner-wrapper {
    max-width: 1320px;
    margin: 0 auto;
}
.banner-wrapper img {
    width: 100%;
    height: 245px;    
}

/*  Menu Info Banner TOP  */

.container-hero {
    border: 3px solid orangered;
    display: flex;
    flex-direction: column;
    max-width: 1260px;
    margin: 1.5rem auto;
}

.container-hero .banner-info-top {
    flex: 1;
    background-color: lightgray;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 3px;
}
.banner-info-top .left-info {
    flex: 3;
}
.banner-info-top .left-info ul {
    display: flex;
    gap: 1rem;
    padding: .7rem 1.8rem;
    list-style: none;
}
.banner-info-top .left-info ul li {
    padding: .5rem;
}
.banner-info-top .left-info a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
}
.banner-info-top .left-info i {
    font-size: 1.1rem;
    margin-right: 8px;
}

.banner-info-top .right-info {
    flex: 1;
    display: flex;
    justify-content: end;
    padding-right: 1.6rem;
    padding: .7rem;
}
.banner-info-top .right-info a {
    margin-right: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    color: #222;
}
.banner-info-top .right-info i {
    font-size: 1.1rem;
    color: rgb(87, 82, 82);
}

/* Menu Info Banner Bottom  */

.container-hero .banner-info-bottom {
    flex: 1;
    background-color: lightgreen;
    border-radius: 3px;
}
.banner-info-bottom .info-wrapper {
    border: 2px solid red;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
}
.banner-info-bottom .info-wrapper .time-count {
    display: flex;
}
.info-wrapper i {
    margin-right: 12px;
    font-size: 1.3rem;
    color: goldenrod;
}
.info-wrapper .info-txt {
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 600;
}
.info-wrapper .time-count {
    margin-left: 1.3rem;
    border: 2px solid blue;
    padding: .5rem;
}