/*  Header Top  */

.header-container {
    height: 20vh;
    display: flex;
    flex-direction: column;
}

.header-top {
    background-color: #111;
    flex: 1;
   
}

.header-menu {
    background-color: var(--primary-color);
    flex: 1;
 
}

.main-header {
    max-width: 1230px;
    margin: 0 auto;
    height: 100%;
    display: flex;
}

.main-header-top {
    padding: 0 1.5rem;
    align-items: center;
    color: white;
}
.main-header-top .countdown {
    flex: 1;
    display: flex;
    align-items: center;
    border-right: 1px solid #eeeeeecc;
}
.main-header-top .countdown .icon-truck {
    flex: 1;
    font-size: 1.7rem;
}
.main-header-top .countdown .title {
    flex: 3;
    font-size: 1rem;
    text-align: left;
}
.main-header-top .countdown .counter {
    flex: 3;
    font-size: 1.7rem;
    font-weight: bold;
}

.main-header-top .anuncio {
    flex: 1;
    text-align: center;
}
.main-header-top .action-temu-app {
    flex: 1;  
    text-align: center;  
}

/*  Header Menu  */

.main-header-menu {
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
}
.main-header-menu .logo {
    flex: 1;
    background-color: white;
}
.main-header-menu .logo img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.main-header-menu .navbar {
    flex: 3;
}
.main-header-menu .navbar ul {
    list-style: none;
    display: flex;
    gap: .6rem;
}
.main-header-menu .navbar ul li a {
    font-size: .9rem;
    color: white;
    text-combine-upright: none;
}


.main-header-menu .search-bar {
    flex: 2;
}
.main-header-menu .icons-menu {
    flex: 2;
}


/*  Banner Hero Clickable  */

.banner-hero {
    height: 40vh;
    background-color: rgb(214, 178, 200);
    
}
.banner-hero .banner-wrapper {
    max-width: 1230px;
    margin: 0 auto;
    height: 100%;

    display: grid;
    place-items: center;
    font-size: 2rem;
}